.container {
  height: 90vh;
  padding: 4rem;
}
.container header {
  display: flex;
  justify-content: center;
}
.container .inner-container {
  display: flex;
  height: 50%;
}
.container .inner-container .results {
  flex-grow: 2;
  padding: 2rem;
  height: 70vh;
  overflow-y: scroll;
}
.results table {
  border: 1px solid black;
}
.results table thead tr th {
  background-color: grey;
}
.results table tbody {
  border: 1px solid grey;
}
.results table tbody tr td {
  text-align: center;
}
.results table tbody tr.sum-row {
  background-color: lightgray;
}
.container .inner-container form {
  padding: 2rem;
  width: 20vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.container form .function {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container form .function input {
  width: 2vw;
}
